<html>

<head>
</head>

<body>
    <main>
    <span class="ls">.</span><br/>
    <span class="ls">..</span><br/>

    {%- for sketch in sketches | sortByDate | reverse -%}
    <span class="ls">
        <a href="{{ sketch.title | slug }}">{{ sketch.title }}</a>
    </span><br/>
    {%- endfor -%}

    </main>
</body>

</html>