---
layout: layouts/base
---
{% setTitle "katas" %}

<h1>katas</h1>

<table>
{%- for sketch in sketches | sortByDate | reverse -%}
<tr>
  <th>
    <a href="{{ sketch.title | slug }}">{{ sketch.title }}</a>
  </th>
  <th>
    <small>{{ sketch.created_at.toDateString() }}</small>
  </th>
</tr>
{%- endfor -%}
</table>
