---
layout: layouts/base
pagination:
    data: sketches
    size: 1
    alias: sketch
permalink: "katas/{{ sketch.title | slug }}/"
tag: sketch
---

{% setTitle sketch.title %}

<script src="{{ assetsFolder }}/p5.min.js"></script>
<script src="{{ sketchesFolder }}/{{ sketch.title | slug }}.js"></script>

<header>
    <nav>
      <ul>
        <li><a href="..">katas</a></li>
      </ul>
    </nav>

    <hgroup>
      <h1>{{ sketch.title }}</h1>
      <h2>{{ sketch.created_at.toDateString() }}</h2>
    </hgroup>
</header>
<main>
    <div id="sketch-container">
    </div>
</main>
