---
layout: layouts/base
pagination:
    data: sketches
    size: 1
    alias: sketch
permalink: "katas/{{ sketch.title | slug }}/"
tag: sketch
---

{% setVar "title", sketch.title %}

{% layoutblock "head" %}
<script src="{{ assetsFolder }}/p5.min.js"></script>
<script src="{{ sketchesFolder }}/{{ sketch.title | slug }}.js"></script>
{% endlayoutblock %}

{% layoutblock "body" %}
<main>
    <h1>{{ sketch.title }}</h1>

    <p>{{ sketch.created_at.toDateString() }}</p>

    <div id="sketch-container">
    </div>
</main>
{% endlayoutblock %}